@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        #CoverImg {
            width: 800px;
        }
    </style>
</head>
<body>
    <div class="text-md-center">
        <h2>Welcome!</h2>
        <p>My name is Kyle.</p>
        <p>This is my first .Net Core Project with MVC structure.</p>
        <p>Here you can see all my works.</p>
        <p>Programmed in following languages : C#, jQuery, html, css,and javascript</p>
        <p>Each work requires different programming skills which means I get to learn something new every time.</p>
        <p>Hope to become better and better as a programmer through this learning progress.</p>
        <p>Thanks for visiting my site. :)</p>
        <img src="~/images/HomePage/RickAndMorty.jpg" id="CoverImg" />
    </div>
</body>